:root {
	--m-shadow-default: 0 0 #0000, 0 0 #0000, 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
	--m-shadow-none: 0 0 #0000, 0 0 #0000, 0 4px 6px -1px rgb(0 0 0 / 0.0), 0 2px 4px -2px rgb(0 0 0 / 0.0);

	--m-focus-shadow-border-thickness: 0 0 0 1.5px;
	--m-focus-shadow-border-color: #f1f1f1;

	--m-input-icon-padding: 2.5rem;
	--m-input-icon-w: 1.25rem;
	--m-input-icon-h: 1.25rem;

	--m-switch-left: calc(100% - 1rem);
	--m-switch-left-checked: calc(100% - 1rem);

	--m-input-password-padding: 33px;

	/* TODO: Recreate the colors as vars */
	/* COLORS */
	--m-bg-light: rgb(241 241 241);
	--m-bg-dark: rgb(24 25 26);
	--m-bg-dark-2: rgb(45, 45, 50);
	--m-bg-dark-3: rgb(55, 55, 55);

	/* TODO: Create more colors */
	--m-color-lightPink: #ffccff;

	/* Switch colors */
	--m-switch-custom-knob-color: '';


	/* CUSTOM BUTTON COLORS */
	--m-btn-text-color: #fff;
	--m-btn-bg-color: #fff;
	--m-btn-bg-color-hover: #fff;
	--m-btn-box-shadow: #fff;
	--m-btn-bg-color-active: #fff;
}

* {
	box-sizing: border-box;
	margin: 0;
    position: relative;

	font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

    font-weight: 600;
}

/* Button */
.m-btn {
	@apply 	flex relative border-none font-semibold leading-6 
			active:shadow-none cursor-pointer 
			disabled:pointer-events-none disabled:outline-none
;

	box-shadow: var(--m-shadow-default);

	font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

	outline-style: solid;
	outline-width: 1px;
    outline-offset: -2px;
	outline-color: transparent;

	transition-property: color, text-color, box-shadow, background, background-color, outline-color;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}

.m-btn:focus-visible {
	outline-color: white;
}

/* Button Disabled */
.m-btn:disabled {
	@apply select-none shadow-none;
}
.m-btn:disabled .m-btn-content {
	@apply opacity-30 select-none
}

/* Button Styles */
.m-btn-light {
	@apply m-text-dark bg-[#f1f1f1] hover:bg-zinc-100 active:bg-zinc-50
}
.m-btn-light:focus-visible {
	box-shadow: 0px 0px 0px 1.5px rgb(241 241 241);
	outline-color: #404040;
}
.m-btn-dark {
	@apply m-text-light bg-neutral-800 hover:bg-neutral-700 active:bg-neutral-600
}
.m-btn-dark:focus-visible {
	box-shadow: 0px 0px 0px 1.5px rgb(38 38 38);
	outline-color: rgb(229 229 229);
}

.m-btn-primary {
	@apply m-text-light bg-blue-600 hover:bg-blue-500 active:bg-blue-400
}
.m-btn-primary:focus-visible {
	box-shadow: 0px 0px 0px 1.5px rgb(37 99 235);
}

.m-btn-secondary {
	@apply m-text-light bg-slate-600 hover:bg-slate-500 active:bg-slate-400
}
.m-btn-secondary:focus-visible {
	box-shadow: 0px 0px 0px 1.5px rgb(71 85 105);
}

.m-btn-success {
	@apply 	m-text-light bg-emerald-600 hover:bg-emerald-500 active:bg-emerald-400 
			shadow-emerald-600
}
.m-btn-success:focus-visible {
	box-shadow: 0px 0px 0px 1.5px rgb(5 150 105);
}

.m-btn-success:focus-visible {
	box-shadow: 0px 0px 0px 1.5px rgb(5 150 105);
}

.m-btn-warning {
	@apply m-text-light bg-orange-600 hover:bg-orange-500 active:bg-orange-400
}
.m-btn-warning:focus-visible {
	box-shadow: 0px 0px 0px 1.5px rgb(234 88 12);
}

.m-btn-danger {
	@apply m-text-light bg-red-600 hover:bg-red-500 active:bg-red-400
}
.m-btn-danger:focus-visible {
	box-shadow: 0px 0px 0px 1.5px rgb(220 38 38);
}

.m-btn-info {
	@apply m-text-light bg-cyan-600 hover:bg-cyan-500 active:bg-cyan-400
}
.m-btn-info:focus-visible {
	box-shadow: 0px 0px 0px 1.5px rgb(8 145 178);
}

.m-btn-indigo {
	@apply m-text-light bg-indigo-600 hover:bg-indigo-500 active:bg-indigo-400 
}
.m-btn-indigo:focus-visible {
	box-shadow: 0px 0px 0px 1.5px rgb(79 70 229);
}
/* TODO: Glowing effect for all buttons */
/* .m-btn-indigo-glow {
	box-shadow:  var(--m-shadow-default), 0 0 4px 2px rgba(129 140 248);
}
.m-btn-indigo-glow:active {
	box-shadow:  var(--m-shadow-none), 0 0 4px 1px rgba(129 140 248);
}
.m-btn-indigo-glow:focus-visible {
	box-shadow:  var(--m-shadow-none), 0 0 4px 2px rgba(129 140 248);
} */

.m-btn-purple {
	@apply m-text-light bg-purple-600 hover:bg-purple-500 active:bg-purple-400
}
.m-btn-purple:focus-visible {
	box-shadow: 0px 0px 0px 1.5px rgb(147 51 234);
}

.m-btn-pink {
	@apply m-text-light bg-pink-600 hover:bg-pink-500 active:bg-pink-400
}
.m-btn-pink:focus-visible {
	box-shadow: 0px 0px 0px white, 0px 0px 0px 1.5px rgb(219 39 119);
}

/* Button Sizes */
.m-btn-size-xs {
	@apply px-1 py-1 text-xs leading-4
}
.m-btn-size-sm {
	@apply px-2 py-1 text-sm leading-5
}
.m-btn-size-md {
	@apply px-4 py-2 text-base leading-6
}
.m-btn-size-lg {
	@apply px-6 py-4 text-xl leading-6 outline-2 outline-offset-[-4px]
}
.m-btn-size-xl {
	@apply px-8 py-6 text-3xl leading-6 outline-2 outline-offset-[-4px]
}
.m-btn-size-2xl {
	@apply px-10 py-8 text-4xl leading-6 outline-2 outline-offset-[-4px]
}
.m-btn-size-3xl {
	@apply px-11 py-10 text-5xl leading-6 outline-2 outline-offset-[-4px]
}

/* Button Custom Colors */
.m-btn-custom-colors {
	@apply 	transition-all text-[var(--m-btn-text-color)] bg-[var(--m-btn-bg-color)]
			hover:bg-[var(--m-btn-bg-color-hover)] active:bg-[var(--m-btn-bg-color-active)] ;
}

.m-btn-custom-colors:focus-visible {
	box-shadow: 0px 0px 0px white, 0px 0px 0px 1.5px var(--m-btn-bg-color);
}
/* .m-btn-custom-colors:hover {
	background-color: var(--m-btn-bg-color-active);
} */

/* .m-btn-custom-colors::placeholder {
	color: var(--m-btn-bg-color);
}

.m-btn-custom-colors:focus {
	border-color: var(--m-btn-bg-color);
} */

/* Button Transparency */
.m-btn-transparent {
	@apply 	bg-opacity-0 text-black
			hover:bg-opacity-70
}
/* Button Content */
.m-btn-content {
	@apply transition-[opacity]
}

/* Input */
.m-input-main {
	@apply flex flex-col text-base font-normal transition-[opacity]
}

.m-input {
	@apply 	w-full border border-solid shadow-md transition-shadow
			outline outline-2 outline-transparent 
			focus:shadow-none focus:border-blue-600 z-10
	;
	font-weight: inherit;
	height: -webkit-fill-available;
}
.m-input:disabled {
	@apply select-none shadow-none opacity-30;
}

.m-input-container {
	@apply w-full flex flex-col relative;
	font-weight: inherit;
}

.m-input-container:disabled {
	@apply overflow-hidden
}

/* For email inputs */
.m-input-email-progress-bar {
	@apply w-[90%] h-2 m-auto mt-2 rounded-3xl translate-y-[-25px] shadow transition-all;
}
.m-input:focus ~ .m-input-email-progress-bar {
	@apply translate-y-0;
}

.m-animation-shake-error {
	animation: shakeError 0.82s cubic-bezier(.36,.07,.19,.97) 0s 1 normal forwards;
}

@keyframes shakeError {
	10%, 90% {
		transform: translate3d(-1px, 0, 0);
	}
	  
	20%, 80% {
		transform: translate3d(2px, 0, 0);
	}
	
	30%, 50%, 70% {
		transform: translate3d(-4px, 0, 0);
	}
	
	40%, 60% {
		transform: translate3d(4px, 0, 0);
	}
}

/* Input Sizes */
.m-input-size-2xs {
	@apply py-[2px] pr-1 text-xs ;
	--m-input-icon-padding: 1.75rem;
	--m-input-password-padding: 1.35rem;
}
.m-input-size-2xs ~ .m-icon {
	@apply left-1;
	--m-input-icon-w: 1rem; 
	--m-input-icon-h: 1rem; 
}
.m-input-size-2xs ~ .m-input-label {
	background: red
}
.m-input-size-2xs ~ .m-input-border {
	@apply left-[24px] h-3 w-[1px] pointer-events-none;
}
.m-input-size-2xs ~ .m-icons-eye {
	@apply w-4 h-4 right-1;
}

.m-input-size-xs {
	@apply py-1 pr-2 text-xs leading-5;
	--m-input-icon-padding: 1.75rem;
	--m-input-password-padding: 1.85rem;
}
.m-input-size-xs ~ .m-icon {
	--m-input-icon-w: 1rem; 
	--m-input-icon-h: 1rem; 
}
.m-input-size-xs ~ .m-input-border {
	@apply left-6 h-4 w-[1px];
}
.m-input-size-xs ~ .m-icons-eye {
	@apply w-5 h-5 right-2;
}

.m-input-size-sm {
	@apply py-1 pr-2 text-sm;
	--m-input-icon-padding: 2rem;
	--m-input-password-padding: 1.9rem;
}
.m-input-size-sm ~ .m-input-border {
	@apply left-7 h-4
}
.m-input-size-sm ~ .m-icons-eye {
	@apply w-5 h-5 right-2;
}

.m-input-size-md {
	@apply py-[7px] pr-2 text-base;
	--m-input-icon-padding: 2.55rem;
	--m-input-password-padding: 2rem;
}
.m-input-size-md ~ .m-input-border {
	@apply left-[34px] h-[22px];

}
.m-input-size-md ~ .m-icon {
	--m-input-icon-w: 1.5rem; 
	--m-input-icon-h: 1.5rem; 
}

.m-input-size-lg {
	@apply py-2 pr-3 text-lg;
	--m-input-icon-padding: 3rem;
	--m-input-password-padding: 2.2rem;
}
.m-input-size-lg ~ .m-icon {
	--m-input-icon-w: 2rem; 
	--m-input-icon-h: 2rem; 
}
.m-input-size-lg ~ .m-input-border {
	@apply left-10 h-7
}
.m-input-size-lg ~ .m-icons-eye {
	@apply w-6 h-6 right-2;
}

.m-input-size-xl {
	@apply py-3 pr-4 text-2xl border-2;
	--m-focus-shadow-border-thickness: 0 0 0 2px;
	--m-input-icon-padding: 4.2rem;
	--m-input-password-padding: 3rem;
}
.m-input-size-xl + .m-input-password {
	@apply pr-10;
}
.m-input-size-xl ~ .m-icons-eye {
	@apply w-8 h-8 right-3;
}
.m-input-size-xl ~ .m-icon {
	@apply left-2;
	--m-input-icon-w: 2.6rem; 
	--m-input-icon-h: 2.6rem; 
}
.m-input-size-xl ~ .m-input-border {
	@apply left-14 h-9 w-[2px];
}

.m-input-size-2xl {
	@apply py-4 pr-4 text-3xl leading-4 border-4;
	--m-focus-shadow-border-thickness: 0 0 0 2.5px;
	--m-input-icon-padding: 5rem;
	--m-input-password-padding: 3.5rem;
}
.m-input-size-2xl ~ .m-icon {
	@apply left-3;
	--m-input-icon-w: 3.25rem; 
	--m-input-icon-h: 3.25rem; 
}
.m-input-size-2xl ~ .m-input-border {
	@apply left-[70px] h-11 w-[2px];
}
.m-input-size-2xl ~ .m-icons-eye {
	@apply w-10 h-10 right-3;
}

.m-input-password {
	padding-right: var(--m-input-password-padding);
}

/* .m-input:focus {
	box-shadow: 0 0 0px 1px #2563eb;
} */

/* TODO: fix placeholder */
/* .m-input::placeholder {
	@apply absolute top-[5px] left-[40.5px]
} */

.m-input-border {
	@apply h-5 w-[1px] absolute left-8 border-gray-500 z-10 bg-gray-600;
	top: 50%;
	transform: translateY(-50%)
}

.m-input-label {
	@apply text-left;

	font-weight: inherit;
}

/* Input Colors */
.m-input-default {
	@apply border-[#6b7280];
} 
.m-input-default:focus {
	@apply border-blue-600;
	box-shadow: var(--m-focus-shadow-border-thickness) #2563eb;
}

.m-input-primary {
	@apply text-blue-600 placeholder:text-blue-300 border-blue-600
} 
.m-input-primary:focus {
	@apply border-blue-600;
	box-shadow: var(--m-focus-shadow-border-thickness) #2563eb;
}

.m-input-secondary {
	@apply text-gray-600 placeholder:text-gray-300 border-[#bbbbbb];
}
.m-input-secondary:focus {
	@apply border-[#bbbbbb];
	box-shadow: var(--m-focus-shadow-border-thickness) #bbbbbb;
}

.m-input-success {
	@apply text-emerald-600 placeholder:text-emerald-300 border-emerald-600;
}
.m-input-success:focus {
	@apply border-emerald-600;
	box-shadow: 0px 0px 0px 1.5px rgb(5, 150, 105);
}

.m-input-danger {
	@apply text-red-600 placeholder:text-red-300 border-red-600;
}
.m-input-danger:focus {
	@apply border-red-600;
	box-shadow: var(--m-focus-shadow-border-thickness) #dc2626;
}

.m-input-warning {
	@apply text-orange-600 placeholder:text-orange-300 border-orange-600;
}
.m-input-warning:focus {
	@apply border-orange-600;
	box-shadow: var(--m-focus-shadow-border-thickness) #ea580c;
}

.m-input-info {
	@apply text-cyan-600 placeholder:text-cyan-300 border-cyan-600;
}
.m-input-info:focus {
	@apply border-cyan-600;
	box-shadow: var(--m-focus-shadow-border-thickness) #0891b2;
}

.m-input-dark {
	@apply text-neutral-800 placeholder:text-neutral-300 border-neutral-800;
}
.m-input-dark:focus {
	@apply border-neutral-800;
	box-shadow: var(--m-focus-shadow-border-thickness) #262626;
}

.m-input-light {
	@apply text-neutral-100 placeholder:text-neutral-300 border-neutral-100 bg-transparent;
}
.m-input-light:focus {
	@apply border-neutral-100 bg-transparent;
	box-shadow: var(--m-focus-shadow-border-thickness) #f5f5f5;
}

.m-input-indigo {
	@apply text-indigo-600 placeholder:text-indigo-300 border-indigo-600;
}
.m-input-indigo:focus {
	@apply border-indigo-600;
	box-shadow: var(--m-focus-shadow-border-thickness) #4f46e5;
}

.m-input-purple {
	@apply text-cyan-600 placeholder:text-cyan-300 border-cyan-600;
}
.m-input-purple:focus {
	@apply border-cyan-600;
	box-shadow: var(--m-focus-shadow-border-thickness) #0891b2;
}

.m-input-pink {
	@apply text-pink-600 placeholder:text-pink-300 border-pink-600;
}
.m-input-pink:focus {
	@apply border-pink-600;
	box-shadow: var(--m-focus-shadow-border-thickness) #db2777;
}

/* Input Icon */
.m-input-icon {
	padding-left: var(--m-input-icon-padding);
}

/* Icons */
.m-icon {
	@apply absolute left-[5.5px] pointer-events-none z-10;

	width: var(--m-input-icon-w);
	height: var(--m-input-icon-h);

	top: 50%;
	transform: translateY(-47.5%)
}

.m-icon-bold {
	@apply stroke-2
}

.m-icons-eye {
	@apply absolute w-5 h-5 z-10 top-2/4 right-2 translate-y-[-50%] cursor-pointer
}

/* Loading */
.m-loading {
	@apply relative pointer-events-none opacity-30 
}

/* Loading Icons */
.loading-icon {
	@apply w-3/4 h-3/4 m-center-absolute text-white stroke-2
}

.m-loading-icon-handle {
	@apply absolute w-full h-full bg-black/75
}

/* Switch */
.m-switch {
	@apply 	relative cursor-pointer appearance-none rounded transition-all
			outline outline-1 outline-transparent outline-offset-0 
			focus-visible:outline-white active:shadow-none 
			disabled:pointer-events-none disabled:shadow-none disabled:filter disabled:brightness-[75%] 
;
			
	/* TODO: Match the shadow color with the switch color on focus visible */
	box-shadow: var(--m-shadow-default);
}
.m-switch::before {
	@apply 	block absolute content-[''] top-2/4 translate-y-[-50%] rounded cursor-pointer transition-[left,width,height,filter,background-color]
			bg-[#f1f1f1] border-none
;
	left: var(--m-switch-left);
}

/* Switch Colors */
.m-switch-light {
	@apply bg-[#f1f1f1] focus-within:outline-[var(--m-bg-dark-2)];
	--m-focus-shadow-border-color: #f1f1f1;
}
.m-switch-light::before {
	@apply bg-[var(--m-bg-dark-2)];
}

.m-switch-dark {
	@apply bg-slate-600;
	--m-focus-shadow-border-color: #475569;
}

.m-switch-primary {
	@apply bg-blue-600;
	--m-focus-shadow-border-color: #2563eb;
}

.m-switch-secondary {
	@apply bg-slate-600;
	--m-focus-shadow-border-color: #475569;
}
.m-switch-success {
	@apply bg-emerald-600;
	--m-focus-shadow-border-color: #059669;
}
.m-switch-warning {
	@apply bg-orange-600;
	--m-focus-shadow-border-color: #ea580c;
}
.m-switch-danger {
	@apply bg-red-600;
	--m-focus-shadow-border-color: #dc2626;
}
.m-switch-info {
	@apply bg-cyan-600;
	--m-focus-shadow-border-color: #0891b2;
}
.m-switch-indigo {
	@apply bg-indigo-600;
	--m-focus-shadow-border-color: #4e46e5;
}
.m-switch-purple {
	@apply bg-purple-600;
	--m-focus-shadow-border-color: #9333ea;
}
.m-switch-pink {
	@apply bg-pink-600;
	--m-focus-shadow-border-color: #db2777;
}

.m-switch-custom-color::before {
	@apply bg-[var(--m-switch-custom-knob-color)]
}

/* Switch Sizes */
.m-switch-size-2xs {
	@apply h-2 w-8;
	--m-switch-left-checked: calc(100% - 6px);
}
.m-switch-size-2xs::before {
	@apply h-1 w-1;
	--m-switch-left: 2px;
}
.m-switch-size-2xs:active::before {
	width: calc( 0.75rem + 5% );
}
.m-switch-size-2xs:checked::before {
	--m-switch-left-checked: calc(100% - 6px);
	left: var(--m-switch-left-checked);
}
.m-switch-size-2xs:active:checked::before {
	left: calc( 100% - 0.90rem - 5% );
}
.m-switch-size-2xs:focus-visible {
	box-shadow: 0px 0px 0px 3px var(--m-focus-shadow-border-color);
}

.m-switch-size-xs {
	@apply h-4 w-9;
	--m-switch-left-checked: calc(100% - 14.5px);
}
.m-switch-size-xs::before {
	@apply h-3 w-3 ;
	--m-switch-left: 2.5px;
}
.m-switch-size-xs:active::before {
	width: calc( 1rem + 5% );
}
.m-switch-size-xs:checked::before {
	--m-switch-left-checked: calc(100% - 14.5px);
	left: var(--m-switch-left-checked);
}
.m-switch-size-xs:active:checked::before {
	left: calc(100% - 1.15rem - 5%);
}
.m-switch-size-xs:focus-visible {
	box-shadow: 0px 0px 0px 3px var(--m-focus-shadow-border-color);
}

.m-switch-size-sm {
	@apply h-5 w-10;
	--m-switch-left-checked: calc(100% - 1rem);
}
.m-switch-size-sm::before {
	@apply h-3 w-3 ;
	--m-switch-left: 0.25rem;
}
.m-switch-size-sm:active::before {
	width: calc( 1rem + 5% );
}
.m-switch-size-sm:checked::before {
	left: var(--m-switch-left-checked);
}
.m-switch-size-sm:active:checked::before {
	left: calc(100% - 1.25rem - 5%);
}
.m-switch-size-sm:focus-visible {
	box-shadow: 0px 0px 0px 3px var(--m-focus-shadow-border-color);
}

.m-switch-size-md {
	@apply h-7 w-12;
	--m-switch-left-checked: calc(100% - 1.3rem);
}
.m-switch-size-md::before {
	@apply h-5 w-4 ;
	--m-switch-left: calc(0% + 0.3rem);
}
.m-switch-size-md:active::before {
	width: calc( 1.25rem + 5% );
}
.m-switch-size-md:checked::before {
	left: var(--m-switch-left-checked);
}
.m-switch-size-md:active:checked::before {
	left: calc(100% - 1.55rem - 5%);
}
.m-switch-size-md:focus-visible {
	box-shadow: 0px 0px 0px 3px var(--m-focus-shadow-border-color);
}

.m-switch-size-lg {
	@apply h-10 w-16;
	--m-switch-left-checked: calc(100% - 1.825rem);
}
.m-switch-size-lg::before {
	@apply h-8 w-6 ;
	--m-switch-left: calc(0% + 0.3rem);
}
.m-switch-size-lg:active::before {
	width: calc( 1.75rem + 5% );
}
.m-switch-size-lg:checked::before {
	left: var(--m-switch-left-checked);
}
.m-switch-size-lg:active:checked::before {
	left: calc(100% - 2.0575rem - 5%);
}
.m-switch-size-lg:focus-visible {
	box-shadow: 0px 0px 0px 4px var(--m-focus-shadow-border-color);
}

.m-switch-size-xl {
	@apply h-14 w-[5.5rem] outline-2;
	--m-switch-left-checked: calc(100% - 2.75rem);
}
.m-switch-size-xl::before {
	@apply h-9 w-8;
	--m-switch-left: 0.75rem;
}
.m-switch-size-xl:active::before {
	width: calc( 2.25rem + 5% );
}
.m-switch-size-xl:checked::before {
	left: var(--m-switch-left-checked);
}
.m-switch-size-xl:active:checked::before {
	left: calc(100% - 3rem - 5%);
}
.m-switch-size-xl:focus-visible {
	box-shadow: 0px 0px 0px 5px var(--m-focus-shadow-border-color);
}

/* Switch Loading Animation */
@keyframes switchLoading { 
	to { left: var(--m-switch-left-checked) } 
}
.m-switch-loading {
	@apply pointer-events-none shadow-none;
}
.m-switch-loading:checked::before { 
	left: var(--m-switch-left);
}
/* NOTE: This is needed for the animation to not jump on the initial position based on checked state */
.m-switch-loading::before {
	animation: switchLoading 0.5s ease-in-out 0s infinite alternate;
}
.m-switch-loading:checked::before {
	animation: switchLoading 0.5s ease-in-out 0s infinite alternate-reverse;
}


/* General */
/* General Text Colors */
.m-text-light {
	@apply text-[#f2f2f2]
}
.m-text-dark {
	@apply text-[#18191A] placeholder:text-zinc-300
}

.m-text-primary {
	@apply text-sky-600
}
.m-text-secondary {
	@apply text-[#bbbbbb]
}
.m-text-success {
	@apply text-emerald-600;
}
.m-text-warning {
	@apply text-orange-600;
}
.m-text-danger {
	@apply text-red-600;
}
.m-text-info {
	@apply text-cyan-600;
}

.m-text-white {
	@apply text-white
}
.m-text-black {
	@apply text-black
}
.m-text-indigo {
	@apply text-indigo-600;
}
.m-text-purple {
	@apply text-[#673AB7]
}
.m-text-pink {
	@apply text-pink-600
}

/* General Text Boldness */
.m-text-bold {
	@apply font-bold
}

/* General Shapes */
.m-general-shape-default {
	@apply rounded-md
}
.m-general-shape-round {
	@apply rounded-full
}
.m-general-shape-box {
	@apply rounded-none
}
.m-general-shape-pill {
	@apply rounded-2xl
}

/* Util Classes */
.m-center-absolute {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

/* Animations */
.loading-circle {
	animation: loading-circle 1s ease infinite normal;
}

@keyframes loading-circle {
	from {
		transform: translate(-50%, -50%) rotate(0deg);
	}
	to {
		transform: translate(-50%, -50%) rotate(360deg);
	}
}