:root {
	--m-shadow-default: 0 0 #0000, 0 0 #0000, 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
	--m-shadow-none: 0 0 #0000, 0 0 #0000, 0 4px 6px -1px rgb(0 0 0 / 0.0), 0 2px 4px -2px rgb(0 0 0 / 0.0);
}

*{
	box-sizing: border-box;
	margin: 0;
    position: relative;

	font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

    font-size: 100%;
    font-weight: 600;
}

/* Button */
.m-btn {
	@apply 	flex relative border-none font-semibold leading-6 
			active:shadow-none cursor-pointer 
			disabled:pointer-events-none disabled:outline-none
	;

	box-shadow: var(--m-shadow-default);

	font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

	outline-style: solid;
	outline-width: 1px;
    outline-offset: -2px;
	outline-color: transparent;

	transition-property: color, text-color, box-shadow, background, background-color, outline-color;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}

.m-btn:focus-visible {
	outline-color: white;
}

/* Button Disabled */
.m-btn:disabled {
	@apply select-none shadow-none;
	/* filter: brightness(0.75) */
}
.m-btn:disabled .m-btn-content {
	@apply opacity-30 select-none
}

/* Button Styles */
.m-btn-primary {
	@apply m-text-light bg-blue-600 hover:bg-blue-500 active:bg-blue-400
}
.m-btn-primary:focus-visible {
	box-shadow: 0px 0px 0px white, 0px 0px 0px 1.5px rgb(37 99 235);
}

.m-btn-secondary {
	@apply m-text-light bg-slate-600 hover:bg-slate-500 active:bg-slate-400
}
.m-btn-secondary:focus-visible {
	box-shadow: 0px 0px 0px white, 0px 0px 0px 1.5px rgb(71 85 105);
}

.m-btn-success {
	@apply 	m-text-light bg-emerald-600 hover:bg-emerald-500 active:bg-emerald-400 
			shadow-emerald-600
}
.m-btn-success:focus-visible {
	box-shadow: 0px 0px 0px white, 0px 0px 0px 1.5px rgb(5 150 105);
}

.m-btn-success:focus-visible {
	box-shadow: 0px 0px 0px white, 0px 0px 0px 1.5px rgb(5 150 105);
}

.m-btn-danger {
	@apply m-text-light bg-red-600 hover:bg-red-500 active:bg-red-400
}
.m-btn-danger:focus-visible {
	box-shadow: 0px 0px 0px white, 0px 0px 0px 1.5px rgb(220 38 38);
}

.m-btn-warning {
	@apply m-text-light bg-orange-600 hover:bg-orange-500 active:bg-orange-400
}
.m-btn-warning:focus-visible {
	box-shadow: 0px 0px 0px white, 0px 0px 0px 1.5px rgb(234 88 12);
}

.m-btn-info {
	@apply m-text-light bg-cyan-600 hover:bg-cyan-500 active:bg-cyan-400
}
.m-btn-info:focus-visible {
	box-shadow: 0px 0px 0px white, 0px 0px 0px 1.5px rgb(8 145 178);
}

.m-btn-light {
	@apply m-text-dark bg-[#f1f1f1] hover:bg-zinc-100 active:bg-zinc-50
}
.m-btn-light:focus-visible {
	box-shadow: 0px 0px 0px white, 0px 0px 0px 1.5px rgb(241 241 241);
	outline-color: #404040;
}

.m-btn-dark {
	@apply m-text-light bg-neutral-800 hover:bg-neutral-700 active:bg-neutral-600
}
.m-btn-dark:focus-visible {
	box-shadow: 0px 0px 0px white, 0px 0px 0px 1.5px rgb(38 38 38);
	outline-color: rgb(229 229 229);
}

.m-btn-pink:focus-visible {
	box-shadow: 0px 0px 0px white, 0px 0px 0px 1.5px rgb(219 39 119);
}

.m-btn-indigo {
	@apply m-text-light bg-indigo-600 hover:bg-indigo-500 active:bg-indigo-400 
}
.m-btn-indigo:focus-visible {
	box-shadow: 0px 0px 0px white, 0px 0px 0px 1.5px rgb(79 70 229);
}
/* TODO: Glowing effect for all buttons */
/* .m-btn-indigo-glow {
	box-shadow:  var(--m-shadow-default), 0 0 4px 2px rgba(129 140 248);
}
.m-btn-indigo-glow:active {
	box-shadow:  var(--m-shadow-none), 0 0 4px 1px rgba(129 140 248);
}
.m-btn-indigo-glow:focus-visible {
	box-shadow:  var(--m-shadow-none), 0 0 4px 2px rgba(129 140 248);
} */

.m-btn-purple {
	@apply m-text-light bg-purple-600 hover:bg-purple-500 active:bg-purple-400
}
.m-btn-purple:focus-visible {
	box-shadow: 0px 0px 0px white, 0px 0px 0px 1.5px rgb(147 51 234);
}

.m-btn-pink {
	@apply m-text-light bg-pink-600 hover:bg-pink-500 active:bg-pink-400
}
.m-btn-pink:focus-visible {
	box-shadow: 0px 0px 0px white, 0px 0px 0px 1.5px rgb(219 39 119);
}


/* Button Sizes */
.m-btn-size-xs {
	@apply px-1 py-1 text-xs leading-4
}
.m-btn-size-sm {
	@apply px-2 py-1 text-sm leading-5
}
.m-btn-size-md {
	@apply px-4 py-2 text-base leading-6
}
.m-btn-size-lg {
	@apply px-6 py-4 text-xl leading-6 outline-2 outline-offset-[-4px]
}
.m-btn-size-xl {
	@apply px-8 py-6 text-3xl leading-6 outline-2 outline-offset-[-4px]
}
.m-btn-size-2xl {
	@apply px-10 py-8 text-4xl leading-6 outline-2 outline-offset-[-4px]
}
.m-btn-size-3xl {
	@apply px-11 py-10 text-5xl leading-6 outline-2 outline-offset-[-4px]
}

/* Button shapes */
.m-btn-shape-default {
	@apply rounded-md
}
.m-btn-shape-square {
	@apply rounded-none
}
.m-btn-shape-round {
	@apply rounded-full
}
.m-btn-shape-pill {
	@apply rounded-2xl
}

/* Button Transparency */
.m-btn-transparent {
	@apply 	bg-opacity-0 text-black
			hover:bg-opacity-70
}

.m-btn-content {
	@apply transition-[opacity]
}

/* Input */
.m-input-main {
	@apply h-[34px]
}

.m-input-content {
	@apply relative h-full
}

.m-input {
	@apply 	pl-10 py-2 px-2 w-full border-[#6b7280] border border-solid rounded-md shadow-md 
			outline outline-2 outline-transparent 
			focus:shadow-none focus:border-blue-600
		;
	height: -webkit-fill-available;
}

.m-input:focus {
	box-shadow: 0px 0px 0px white, 0 0 0px 1px #2563eb;
}

.m-input::placeholder {
	@apply absolute top-[5px] left-[40.5px]
}

.m-input-border {
	@apply h-5 w-[1px] absolute top-[7px] left-8 border-gray-500 z-10 bg-gray-600
}

/* Icons */
.m-icon {
	@apply w-5 h-5 absolute left-[5.5px] top-[8px]
}

/* Loading */
.m-loading {
	@apply relative pointer-events-none opacity-30
}

/* Loading Icons */
.loading-icon {
	@apply w-6 h-6 m-center-absolute text-white stroke-2
}

/* General */
/* General Text Colors */
.m-text-dark {
	@apply text-[#18191A]
}
.m-text-light {
	@apply text-[#f2f2f2]
}
.m-text-primary {
	@apply text-sky-400
}
.m-text-secondary {
	@apply text-[#bbbbbb]
}
.m-text-success {
	@apply text-emerald-300;
}

.m-text-white {
	@apply text-white
}
.m-text-black {
	@apply text-black
}
.m-text-indigo {
	@apply text-indigo-600;
}
.m-text-purple {
	@apply text-[#673AB7]
}
.m-text-pink {
	@apply text-pink-600
}

/* Util Classes */
.m-center-absolute {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

/* Animations */
.loading-circle {
	animation: loading-circle 1s ease infinite normal;
}

@keyframes loading-circle {
	from {
		transform: translate(-50%, -50%) rotate(0deg);
	}
	to {
		transform: translate(-50%, -50%) rotate(360deg);
	}
}